@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-white;
  font-family: 'Lexend', sans-serif;
}

.navTool {
  @apply text-black
}

.button {
  @apply text-white h-[3vw] flex items-center justify-center px-6 rounded-lg backdrop-blur-md shadow;
}

.button-hover {
  @apply hover:-translate-y-1 hover:shadow-xl transition-all duration-300 cursor-pointer;
}

/* Rotating text */
.text-rotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}
